.arrow {
    height: 0;
    width: 0;
    margin-top: 50vh;
    margin-left: 50vw;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid rgb(83, 250, 172);
    -webkit-animation: bounce 1.75s infinite;
    animation: bounce 1.75s infinite;
    -webkit-transition: border 150ms ease-in-out, -webkit-transform 300ms ease-in;
    transition: border 150ms ease-in-out, -webkit-transform 300ms ease-in;
    transition: border 150ms ease-in-out, transform 300ms ease-in;
    transition: border 150ms ease-in-out, transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.arrow:hover,
.arrow:focus {
    border-top: 25px solid gray;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    cursor: pointer;
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10% {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    30% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    40% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}